/*
  common
*/
*{
  font-size: 102%;
}

#app {
  max-width: 640px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  border-bottom: 2px solid 
}

th,
th {
  padding: 0 30px;
  line-height: 40px;
}

tbody td.button, tbody td.state {
  text-align: center;
}

tbody tr td,
tbody tr th {
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}

tbody tr.done td,
tbody tr.done th {
  color: #bbb;
}

button {
  border: none;
  padding: 0 8px;
  background: #ffffff;
  color: #fff;
  cursor: pointer;
}

.topfont{
  font-size: 900%;
}
